/* Stili per la pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
}

/* Zara Logo */
.logo {
    max-width: 400px;
    margin-right: 1000px;
    height: auto;
    display: inline-flex;
}

/* Header and Navigation */
.nav-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
    position: relative;

}
.logo h1 {
    font-size: 64px;
    font-family: 'Times New Roman', serif;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    text-decoration: none;
    font-size: 18px;
    color: black;
}

.hero img {
    width: 100%;
    height: auto;
}
